*{
    margin: 0px;
    padding: 0px;
    border: 0cm;
}

#fondoi{
    background-image:url('images/00birraderes.jpg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: 100%;
    max-width: 100%;
    background-position: fixed;

}

.contenedor{
    width:100%;
    height: 100%;
}
