/*icicio configuraci贸n general*/

*{
    margin: 0px;
    padding: 0px;
    border: 0cm;
}

/*fin configuraci贸n general*/

/*estilos barra navegaci贸n*/

nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
   
}

@media (min-width:1024.1px) {
    

nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

}
nav ul{
    display: flex;
align-items: center;
justify-content:space-around ;

padding:10px;
}

nav ul li:nth-child(2){
    margin-right: 40px;
}


nav{
    width: 100%;
    position:fixed;
    background-color: rgba(255, 255, 255, 0.642);
}


nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:rgb(24, 20, 20);
}

nav ul li a:hover{
 text-decoration:underline;
 text-shadow: 1px 1px 1px 1px blur #000;
    color:rgb(143, 143, 143);
}





.navimg{
    width:35%; 
    height:auto;
}

@media(min-width:1024.1px) {
    .navimg{
        width:20%; 
        height:auto;
    }
    
}


/*estilos barra navegaci贸n fin*/


article{
    height: 270px;
    background-image: url('images/bc madera.jpg');
    background-attachment: fixed;
    
}

/*config de los articulos*/
@media(min-width:1024.1px) {
    

article{
    height: 674px;
    background-image: url('images/bc madera.jpg');
background-attachment: fixed;
padding: 1rem;
}
}
/*fin config articulos*/

/*config de fonfo inicio*/
#fondoi{
    display: flex;
    background-image:url('images/00birraderes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    max-width: 100%;
    max-height: 239px;
align-items: center;
justify-content:center;
    

}

@media(min-width:1021.1px) {
    

#fondoi{
    display: flex;
    background-image:url('images/00birraderes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
align-items: center;
justify-content:center;
    

}
}


div .contenedor{
  display: inline-block;
    width:100%;
    min-height: fit-content;

}

@media(max-width:1024.1px){
div .contenedor{
    display: inline-block;
      width:100%;
      max-height: 674px;
  
  }
}


#fon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.601);
    padding: 3.9rem 0.5rem 3.9rem 0.5rem;
gap: 1rem;

}


@media (min-width:1024.1px) {
    

#fon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.601);
    padding: 4rem 0.5rem 4rem 0.5rem;
gap: 1rem;

}
}

@media(min-width:1024.1px){
#fon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.601);
    padding: 2rem 0.5rem 2rem 0.5rem;
gap: 1.5rem;
width:50rem ;
}
}

article div div div p{
    color:rgb(246, 193, 34);
    font-family: cursive;
    font-weight: bolder;
    font-size: .9rem;
}

@media(min-width:1024.1px){
article div div div p{
    color:rgb(246, 193, 34);
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.3rem;
    
}

}

.imgp{
    width:60%;
}

@media(min-width:1024.1px) {
    

.imgp{
    width:65%;
}
}
/*fin config fondo inicio*/


/*MENU PRINCIPAL INICIO*/

article h2{
    color:rgb(246, 193, 34);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

@media(min-width:1024.1px){
    article h2{
        color:rgb(246, 193, 34);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 5rem;
        
    
    }
}


/*MENU PRINCIPAL FIN*/



/*MENU*/

.ttl{
    height: 100%;
    padding: 1rem;
}

article p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    

}

 

/*FIN MENU*/